.reviewDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: var(--primary-text-color);
  align-items: center;
}

.reviewHeadline {
  text-align: center;
  font-size: 1.5rem;
  height: 2rem;
  width: 100%;
  padding: 3rem;
}
.reviewCard {
  /* padding-top: 5rem; */
  height: 16rem;
  width: 24rem;
  background-color: #eeddcc;
  text-align: center;
  padding: 1rem;
  padding-bottom: 3rem;
}
.reviewText {
  padding: 2rem;
}

.reviewSection{
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem;

}
