.bestseller {
  height: 43rem;
  background-color: var(--primary-text-color);
  padding: 8rem;
}
.bestSellerHeading {
  color: white;
  font-size: 1.5rem;
  height: 20rem;
  width: 20rem;
}
button {
  background-color: var(--primary-text-color);
  color: white;
  padding: 1rem;
  margin: 2rem 0rem 2rem 0rem;
  width: 16rem;
}
