.collection {
    display: flex;
    flex-direction: column;
    min-height: 40rem;
    gap: 1rem;
    color: var(--primary-text-color);
    /* align-items: center; */
    /* justify-self: center; */
    padding-top: 4rem;
    padding-bottom: 1rem;
}
.collection_heading {
    width: 100%;
    padding: 1rem;
    text-align: center;
    /* font-size: 1.5rem; */
    font-size: clamp(0.9rem, 1.5vw, 1.5rem);
    /* height: 4rem; */
}

.cardDiv {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    padding: 2rem;
    justify-content: space-evenly;
    column-gap: 0rem;
    row-gap: 2rem;
}

.card {
  padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    flex-wrap: wrap;
    /* max-height: 20rem; */
    /* width: 20rem; */
    text-align: center;
    margin: auto;
    gap: 1rem;
    /* border: 1px solid rgb(227, 11, 11); */
}

.card_image {
    max-width: 350px;
    max-height: 350px;
    object-fit: cover;
}
